* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 7vmin;
}

body {
    background-color: #999999;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #b0413e;
    background-color: #fff;
}

#reset_btn {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}

.result {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

#new_btn {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}

#msg {
    font-size: 5rem;
}

.hide {
    display: none;
}

.box:hover {
   transform: scale(0.95);
}
@media screen and (max-width:600px) {
    .game{
        height: 50%;
        gap: 10px;
        width: 80vw;
        padding-bottom: 5rem;
    }
    .container{
        height: 55vh;
    }
    h1{
        font-size: 50px;
        padding: 20px;
    }
    #reset_btn{

    }
}